page-police-terms {
    .bold {
      font-weight: bold;
      
    }
  }
     // Texto privacidade
     p{
        color: white !important;
        text-align: justify !important;
    }

    // Título texto privacidade
    h1{
        font-weight: bold !important;
        font-size: 1.2em !important;
    }

    
.container {
    
    background: purple;
    color: white;
    }

    .titulo{
        --background: purple;
        color: white;
    }