<ion-header>
  <ion-toolbar class="titulo">
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
   <h1 style="background-color:white;  text-align: center;">Bem Vindo!</h1>
  
  <div class="container">
    <div class="box">
      <h4 style="color:black;  text-align: center;">Deixe Aqui sua Duvida ou Sugestão!</h4>
     <!-- Textarea in an item with a placeholder -->
<ion-item>
  <ion-textarea placeholder="Dúvida ou Sugestão"></ion-textarea>
</ion-item>
<button (click)="enviar()" ion-button class="btnAcao">Enviar</button>
<button (click)="voltar()" ion-button class="btnAcao">Voltar</button>

    </div>
  </div>

</ion-content>
